services:
  front-sag-ribamar:
    image: alphaia/sag-front:1.5
    entrypoint: ["/entrypoint.sh"]
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      - API_URL=https://sag-homologacao-sag-api-git.yzl3d0.easypanel.host/api
      - APP_NAME=SAG (Ribamar)
      - CORRETOR_URL=https://gerador-gabarito-gerador-gabarito-sao-bento.lh6c5d.easypanel.host/
      - NODE_ENV=production
    networks:
      - sag-front-network
    labels:
      - "traefik.enable=true"

      # >>> Ajuste o host para o seu domínio real (não use 'localhost' em produção)
      - "traefik.http.routers.front-sag-ribamar.rule=Host(sagsjr.maximizaedu.com)"
      - "traefik.http.routers.front-sag-ribamar.entrypoints=https"
      - "traefik.http.routers.front-sag-ribamar.tls=true"
      - "traefik.http.routers.front-sag-ribamar.tls.certresolver=letsencrypt"

      

      # O serviço interno do container — normalmente 80 no Nginx/serve:
      - "traefik.http.services.front-sag-ribamar.loadbalancer.server.port=80"

networks:
  default:
    external: true

  sag-front-network:
    name: ribamar_sag-front_sag-front-network   # <— nome fixo (evita criar outra)
    driver: bridge 