FROM nginx:stable

ARG CACHEBUST=1

COPY . /usr/share/nginx/html

# Modificar o arquivo de configuração do Nginx para escutar na porta 8080
RUN sed -i 's/listen       80;/listen       8080;/' /etc/nginx/nginx.conf

EXPOSE 8080
